@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
}
